<div class="col-md-4 mt20">
        <div class="post-img">
          <script type="text/javascript">
            atOptions = {
              'key' : '5f7a88f061cf9d4eca6a1efa6644585f',
              'format' : 'iframe',
              'height' : 250,
              'width' : 300,
              'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://jennyunfit.com/5f7a88f061cf9d4eca6a1efa6644585f/invoke.js"></scr' + 'ipt>');
          </script>
        </div>
            
        
        <div class="mt10 recent">
            <h2>Recent Recipes</h2>        
             <ul>
                {{ range first 3 (where .Site.RegularPages "Section" "posts") }}

                      <li>
                      <p><a href="{{ .Permalink }}">{{ .Title }}</a><small>&nbsp;&nbsp;{{ .Date.Format "January 2, 2006" }}</small></p>
                      </li>

                {{ end }}
              </ul>
        </div>
        

</div>